* {
	font-family: Helvetica;
	font-weight: lighter;
}

body {
	background-color: dodgerblue;
}

.logo-img {
	margin: auto;
	height: 35px;
	display: block;
	padding: 20px;
}

.sign-up {
	width: 400px;
  	height: 500px;
  	background-color: white;
  	margin-left: auto;
  	margin-right: auto;
}

.sign-up fieldset {
  padding-left: 0;
  border: none;
}
.sign-up h1 {
	text-align: center;
	padding-top: 30px;
}

.sign-up label {
	display: block;
	font-size: 16px;
	font-weight: normal;
	width: 320px;
	padding: 20px 40px 20px 40px;

}

.sign-up input, .sign-up select {
	display: block;
	width: 286px;
	height: 21px;
	margin-left: 40px;
	padding: 15px;
	border: 2px solid gray;
	border-radius: 5px;
	font-size: 16px;
}

.sign-up button {
	padding: 15px;
	width: 320px;
	margin-top: 40px;
	margin-left: 40px;
	background-color: mediumseagreen;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	color: white;
	font-weight: bold;	
}

.sign-up button:hover {
	background-color: seagreen;
}

.sign-up a {
	display: block;
	color: silver;
	text-align: center
}

.log-in p {
	color: white;
	text-align: center;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.log-in a {
	color: white;
}